<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot Code</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-3">
	
	
	  <div class="well">
	    <div align="center">
	    <h1>Robot Code: Straight Line</h1>
	    </div>
	    main:<br>
	    pause 100<br>
	    
	    ;forward roughly 1 ft<br>
	    high b.6<br>
	    high b.4<br>
	    low b.7<br>
	    low b.5<br>
	    pause {% if x %} {{x*1500}} {% else %} Incorrect input  {% endif %}<br>
	    ;halt<br>
	    low b.6<br>
	    low b.4<br>
	    low b.7<br>
	    low b.5
	  
	</div>
      </div>
    </div>
  </body>
</html>
